# === TELEGRAM API CONFIGURATION ===
TG_API_ID=21969579                              # Get it from https://my.telegram.org/auth
TG_API_HASH="ae8b5f8f262ae805b0b5b398f0799e7c"  # Get it from https://my.telegram.org/auth
BOT_TOKEN="1234567890:ABCDEF..."                # Get it from https://my.telegram.org/auth
# Owner ID(s) — Telegram account IDs who can use /reset command
OWNER_ID={6941632908}                           # You can add multiple IDs separated by commas: {123,456,789}

# How much last messages from chat LM will see
HISTORY_MAX=10