BOT_TOKEN="1234567890:ABCDEF..."                # Get it from @BotFather
# account IDs who can use /reset command
OWNER_ID={} # You can add multiple IDs separated by commas: {123,456,789}
# how much last messages from chat LM will see
HISTORY_MAX=10
