BOT_TOKEN="1234567890:ABCDEF..." # Get it from @BotFather
OWNER_ID={} # You can add multiple IDs separated by commas: {123,456,789} # account IDs who can use /reset command
HISTORY_MAX=10 # how much last messages from chat LM will see
